<div class="empty-tweet">
  <% if search.present? %>
    <h5 class="card-title">
      <%= I18n.t("tweets.no_tweets") %>
    </h5>
  <% else %>
    <h5><%= I18n.t("tweets.happy_searching") %></h5>
  <% end %>
</div>
