<div class="card tweet">
  <div class="card-body">
    <h5 class="card-title"><%= tweet.user.name %></h5>
    <p class="card-text"><%= tweet.text %></p>
    <a href="#" class="card-link"><span>Favorites:</span> <%= tweet.favorite_count %></a>
    <a href="#" class="card-link">|</a>
    <a href="#" class="card-link"><span>Retweets:</span> <%= tweet.retweet_count %></a>
  </div>
</div>